# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink:           pretty
relative_permalinks: true


# Setup
title:               Lanyon
tagline:             'A Jekyll theme'
description:         'A blog made by <a href="https://twitter.com/axlelr" target="_blank">@axlelr</a>.'
url:                 http://lanyon.athelo.net
baseurl:             ''
paginate:            5

# About/contact
author:
  name:              Mark Otto
  url:               https://twitter.com/axlelr
  email:             imitaz88@gmail.com

# Custom vars
version:             1.0.0
